* {
  box-sizing: border-box;
  font-family: Segoe UI;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #ffb3c6, #cdb4ff, #a2d2ff);
  min-height: 100vh;
}

/* TOP BAR */
.top-bar {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4dabf7;
  transition: 0.4s;
}

.profile-pic:hover img {
  transform: scale(1.08);
  box-shadow: 0 0 25px #4dabf7;
}

.title-box {
  background: white;
  padding: 20px 30px;
  border-radius: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.title-box:hover {
  transform: scale(1.03);
}

/* LAYOUT */
.layout {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* CARDS */
.card,
.side-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  transition: 0.4s;
}

.card:hover,
.side-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* PHOTOS */
.photos {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.photos img {
  width: 200px;
  border-radius: 15px;
  transition: 0.4s;
}

.photos img:hover {
  transform: scale(1.1);
}

/* BUTTONS */
.btn {
  background: linear-gradient(45deg, #ff6f91, #ff9671);
  color: white;
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn.full {
  width: 100%;
  display: block;
  text-align: center;
}

/* MOBILE */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .top-bar {
    flex-direction: column;
    text-align: center;
  }
}
